In [ ]:
# if running this is something like google colab first uncomment and run below to install latest version of netdata-pandas
#!pip install --upgrade netdata-pandas

In [ ]:
from netdata_pandas.data import get_data

Lets pull some data from our two demo servers into a pandas dataframe.

In [ ]:
hosts = ['london.my-netdata.io', 'newyork.my-netdata.io']
charts = ['system.cpu', 'system.load']
after = -60
before = 0

df = get_data(hosts, charts, after, before)
print(df.shape)
df.head()

(121, 24)

                                 system.load|load1  system.load|load5  \
host                 time_idx
london.my-netdata.io 1592308920               0.47               0.16
                     1592308924               0.47               0.16
                     1592308925               0.43               0.16
                     1592308926               0.43               0.16
                     1592308927               0.43               0.16

                                 system.load|load15  system.cpu|guest_nice  \
host                 time_idx
london.my-netdata.io 1592308920                0.06                    NaN
                     1592308924                0.06                    0.0
                     1592308925                0.06                    0.0
                     1592308926                0.06                    0.0
                     1592308927                0.06                    0.0

                                 system.cpu|guest  system.cpu|steal  \
host                 time_idx
london.my-netdata.io 1592308920               NaN               NaN
                     1592308924               0.0               0.0
                     1592308925               0.0               0.0
                     1592308926               0.0               0.0
                     1592308927               0.0               0.0

                                 system.cpu|softirq  system.cpu|irq  \
host                 time_idx
london.my-netdata.io 1592308920                 NaN             NaN
                     1592308924            0.000000             0.0
                     1592308925            0.000000             0.0
                     1592308926            0.000000             0.0
                     1592308927            0.251256             0.0

                                 system.cpu|user  system.cpu|system  ...  \
host                 time_idx                                        ...
london.my-netdata.io 1592308920              NaN                NaN  ...
                     1592308924         0.506329           0.253165  ...
                     1592308925         0.753769           1.256281  ...
                     1592308926         1.005025           0.251256  ...
                     1592308927         1.256281           1.005025  ...

                                 system.load|load15  system.cpu|guest_nice  \
host                 time_idx
london.my-netdata.io 1592308920                 NaN                    NaN
                     1592308924                 NaN                    NaN
                     1592308925                 NaN                    NaN
                     1592308926                 NaN                    NaN
                     1592308927                 NaN                    NaN

                                 system.cpu|guest  system.cpu|steal  \
host                 time_idx
london.my-netdata.io 1592308920               NaN               NaN
                     1592308924               NaN               NaN
                     1592308925               NaN               NaN
                     1592308926               NaN               NaN
                     1592308927               NaN               NaN

                                 system.cpu|softirq  system.cpu|irq  \
host                 time_idx
london.my-netdata.io 1592308920                 NaN             NaN
                     1592308924                 NaN             NaN
                     1592308925                 NaN             NaN
                     1592308926                 NaN             NaN
                     1592308927                 NaN             NaN

                                 system.cpu|user  system.cpu|system  \
host                 time_idx
london.my-netdata.io 1592308920              NaN                NaN
                     1592308924              NaN                NaN
                     1592308925              NaN                NaN
                     1592308926              NaN                NaN
                     1592308927              NaN                NaN

                                 system.cpu|nice  system.cpu|iowait
host                 time_idx
london.my-netdata.io 1592308920              NaN                NaN
                     1592308924              NaN                NaN
                     1592308925              NaN                NaN
                     1592308926              NaN                NaN
                     1592308927              NaN                NaN

[5 rows x 24 columns]

Lets have a look at some timings in pulling this data.

In [ ]:
%%timeit

df = get_data(hosts, charts, after, before)

225 ms ± 14.5 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

If we wanted to pull data for all charts we can do something like this.

In [ ]:
df = get_data('london.my-netdata.io', ['all'], after, before)
print(df.shape)
df.head()

(69, 2091)

,users.lwrites|ulog,users.lwrites|messagebus,users.lwrites|unscd,users.lwrites|bind,users.lwrites|nobody,users.lwrites|ntp,users.lwrites|postfix,users.lwrites|mysql,users.lwrites|www-data,users.lwrites|netdata,...,netdata.runtime_postfix_local|run time,netdata.runtime_ntpd_local|run time,netdata.apps_fix|utime,netdata.apps_fix|stime,netdata.apps_fix|gtime,netdata.apps_fix|minflt,netdata.apps_fix|majflt,netdata.runtime_web_log_nginx|run time,web_log_nginx.clients_all|ipv4,web_log_nginx.clients_all|ipv6
time_idx,,,,,,,,,,,,,,,,,,,,,
1592308920,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1592308925,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1592308926,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,40.29840,19.14503,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1592308927,0.0,0.0,0.315427,0.0,0.0,0.0,0.024512,0.0,79.51077,21.24856,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1592308928,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,41.16272,25.57774,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Similar to above but lets add some flags to throw away columns we are probably not interested in.

In [ ]:
after = -60*5
before = 0

df = get_data('london.my-netdata.io', ['all'], after, before, numeric_only=True, nunique_thold=0.05)
print(df.shape)
df.head()

(307, 536)

,users.lwrites|ulog,users.lwrites|www-data,users.lwrites|netdata,users.lwrites|root,users.sockets|www-data,users.cpu_system|mysql,users.cpu_system|www-data,users.cpu_system|netdata,users.cpu_system|root,groups.lreads|www-data,...,groups.uptime|www-data,groups.uptime|netdata,groups.uptime|root,users.cpu_user|mysql,users.cpu_user|www-data,users.cpu_user|netdata,users.cpu_user|root,users.pwrites|www-data,users.pwrites|netdata,users.pwrites|root
time_idx,,,,,,,,,,,,,,,,,,,,,
1592308690,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1592308693,0.0,51.48505,24.892370,17.44316,256.0,0.6212,0.0000,0.6212,1.2449,16.459421,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1592308694,0.0,49.29439,18.499830,17.49750,260.0,0.0000,0.0000,0.9999,1.9998,16.179808,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1592308695,0.0,63.12931,14.630437,17.50731,262.0,0.0000,0.6265,1.2531,0.6290,0.820305,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1592308696,0.0,42.84438,18.275240,17.66197,265.0,0.7142,0.0000,0.7142,1.4284,0.410153,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN